<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Change Password</title>
    <style>
        .error {
            color: orangered;
        }
    </style>
    <%- include('../header-files-new') %>
</head>
<body class="hidden-bar-wrapper">

<div class="page-wrapper">
    <%- include("user_navbar") %>
    <%- include('customer-bread-crumb') %>

    <div class="container py-5">
        <div class="col-lg-6 offset-lg-3">
            <div class="card shadow">
                <div class="card-header">
                    <h2>Change Password</h2>
                </div>
                <div class="card-body">
                    <div class="">
                        <form id="changePassword">
                            <div class="form-group mb-3">
                                <label for="current">Current Password</label>
                                <input data-rule-required="true"
                                       type="password" id="current" name="current" class="form-control">
                            </div>

                            <div class="form-group mb-3">
                                <label for="new">New Password</label>
                                <input data-rule-required="true"
                                       type="password" id="new" name="new" class="form-control">
                            </div>

                            <div class="form-group mb-3">
                                <label for="confirm">Confirm Password</label>
                                <input data-rule-required="true"
                                       data-rule-equalto="#new"
                                       type="password" id="confirm" name="confirm" class="form-control">
                            </div>

                            <div class="mb-3">
                                <button onclick="ChangePassword()" type="button" class="btn btn-primary">
                                    CHANGE PASSWORD
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../footer') %>
</div>

<%- include("../footer_scripts") %>

<script>
    let ChangePassword = () => {
        if ($("#changePassword").valid()) {
            let current = document.getElementById("current").value;
            let newPassword = document.getElementById("new").value;
            let confirm = document.getElementById("confirm").value;

            let formData = new FormData();
            formData.append("current", current);
            formData.append("newPassword", newPassword);
            formData.append("confirmPassword", confirm);

            let http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    if (this.response === "error") {
                        Swal.fire({
                            icon: "error",
                            title: "Internal Server Error"
                        });
                    } else if (this.response === "invalid") {
                        Swal.fire({
                            icon: "warning",
                            title: "Invalid Old Password"
                        });
                    } else {
                        Swal.fire({
                            icon: "success",
                            title: "Password updated successfully"
                        });
                        document.getElementById("changePassword").reset();
                    }
                }
            }
            http.open("POST", "/user-change-password", true);
            http.send(formData);
        }
    }
</script>

</body>
</html>