<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delivered Orders</title>
    <%- include('../header-files-new') %>
</head>
<body onload="getDeliveredOrdersData();">
<div class="page-wrapper">
    <%- include('../navbar') %>
    <%- include('../bread-crumb') %>
    <div class="container-fluid py-5">
        <div class="table-responsive">
            <table class="table table-bordered table-dark">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Customer Info</th>
                    <th>Order Details</th>
                    <th>Delivery Address</th>
                    <th>Payment Mode</th>
                    <th>Payment Status</th>
                    <th></th>
                </tr>
                </thead>

                <tbody id="pendingOrder"></tbody>
            </table>
        </div>
    </div>
    <%- include('../footer') %>
</div>

<%- include("../footer_scripts") %>

<script>
    function getDeliveredOrdersData() {
        const http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                // console.log(JSON.parse(this.response));

                if (this.response === "error") {
                    Swal.fire({icon: "success", title: 'Internal Server Error'});
                } else {
                    var response = JSON.parse(this.response);
                    // console.log(response);
                    var table = "";

                    if (response.length === 0) {
                        table = `<tr><th colspan="7" class="text-center"><h2 class="text-danger">No Data Found</h2></th></tr>`;
                        document.getElementById("pendingOrder").innerHTML = table;
                    } else {
                        for (let i = 0; i < response.length; i++) {
                            table += `<tr>`;
                            table += `<td>${i + 1}</td>`;
                            table += `<td><b>Username</b>: ${response[i].username} <br> <b>Name</b>: ${response[i].name} <br> <b>Mobile</b>: ${response[i].mobile} <br> <b>Email</b>: ${response[i].email}</td>`;
                            table += `<td><b>Total Bill</b>: ${response[i].grand_total} <br> <b>Date</b>: ${response[i].date_time}</td>`;
                            table += `<td>${response[i].address}</td>`;
                            table += `<td>${response[i].payment_mode}</td>`;
                            table += `<td>${response[i].payment_status}</td>`;

                            table += `<td>`;
                            table += `<a href="/admin/order-details?id=${response[i].id}" class="btn btn-success btn-sm">Order Details</a>`;
                            table += `</td>`;
                            table += `</tr>`;
                        }
                        document.getElementById("pendingOrder").innerHTML = table;
                    }
                }
            }
        }
        http.open("GET", "/admin/fetch-delivered-order", true);
        http.send();
    }
</script>

</body>
</html>